<div class="container">
  <br><br>
  <%= simple_form_for(:session, url: sessions_path) do |form| %>
    <div class="row">
      <div class="col-sm-6">
        <%= form.input :login, label: "Login", required: true %>
      </div>
    </div>
    <div class="row">  
      <div class="col-sm-6">
        <%= form.input :password, label: "Password", as: :password, required: true %>
      </div>
    </div>
    <div class="row justify-content-between">        
      <div class="col-sm-4">  
        <%= form.button :submit, 'Sign In', class: 'btn btn-success btn-sm' %>
        <% unless Current.user %>
          <%= link_to "Registrarse", new_user_path, class: 'btn btn-primary btn-sm' %>
        <% end %> 
      </div>       
    </div>
  <% end %>
</div>