<%= simple_form_for @user do |form| %>
  <div class="container">
    <% @user.errors.full_messages.each do |error| %>
      <div>
        <%= error %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= form.input :email, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= form.input :username, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= form.input :password, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= form.submit 'Registrar Usuario', class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
