<%= form_with model: @product do |form| %>
   <% @product.errors.full_messages.each do |error| %>
      <div>
        <%= error %>
      </div>
   <% end %>
   <br>   
   <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
   </div>
   
   <br>
   
   <div>
    <%= form.label :description %>
    <br>
    <%= form.text_area :description %>
   </div>
   
   <br>
   
   <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
   <div>
   
   <div>
     <%= form.label :category %>
     <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
   <div>  


   <br>

   <div>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
   <div>
    
   <br> 
   <%= form.submit %> 
<% end %>