<%= form_with model: @product do |form| %>
   <% @product.errors.full_messages.each do |error| %>
      <div>
        <%= error %>
      </div>
   <% end %>
   <br>   

   <div class="form-group">
     <div class="row">
        <div class="col-sm-6">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control', placeholder: "Ingrese un titulo para el producto" %>
        </div>
      </div>
   </div>

   <div class="form-group">
     <div class="row">
        <div class="col-sm-6">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control', placeholder: "Ingrese una descripcion" %>
        </div>
      </div>
   </div>

   <div class="form-group">
     <div class="row">
        <div class="col-sm-6">
          <%= form.label :price %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>
      </div>
   </div>

   <div class="form-group">
     <div class="row">
        <div class="col-sm-3">        
            <%= form.label :category %>
            <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name  %>
        </div>
      </div>
   </div>
   
   <div class="form-group">
     <div class="row">
        <div class="col-sm-6">        
          <%= form.label :photo %>
          <%= form.file_field :photo, class: 'form-control' %>
        </div>
      </div>
   </div>

   <%= form.submit t('common.actions.save'), class: 'btn btn-success btn-lg' %>

<% end %>