<div id="<%= dom_id category %>">
    <tr>
        <td><%= index+1%></td>
        <td> <%= category.name %> </td>
        <td>
          <%= link_to t('.edit'), edit_category_path(category), class: 'btn btn-info btn-sm content-icon' %>
          <%= link_to t('.delete'), category_path(category), method: :delete, data: {confirm: t('common.confirm')}, class: 'btn btn-danger btn-sm content-icon' %> 
          
        </td>
    </tr>
</div>
