<%= turbo_frame_tag 'categories' do %>

    <h2> <%= t('.title')%> </h2>
    
    <%= form_with url: products_path, method: :get do |form| %>
       <%= form.number_field :min_price, placeholder: t('.min_price'), onChange: 'this.form.requestSubmit()', value: params[] %>
       <%= form.number_field :max_price, placeholder: t('.max_price'), onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
    <% end %>    

    <span class="btn btn-outline-dark"> <%= link_to t('common.all'), products_path %> </span>

    <%= render partial: 'products/partials/category', collection: @categories %>
    <br><br>
    <%= render partial: 'products/partials/product', collection: @products %>

<% end %>